<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BookVault.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9D27ED33D6CFE9FA657D83109074E24639D0AF0F</string>
				<key>dateExpires</key>
				<string>2/9/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>N2EH33DR7Z.com.bookvault.BookVault</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>N2EH33DR7Z</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>BookVault.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>77204b1b-313c-4293-a1d1-0035164c3f76</string>
				<key>dateExpires</key>
				<string>2/9/27</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.bookvault.BookVault</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>N2EH33DR7Z</string>
				<key>name</key>
				<string>Demetri Lionikis</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
